.container {
}

.header {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.descriptionContainer {
}
.descriptionContainer span:nth-child(1) {
  display: block;
  color: rgb(22, 95, 163);
}
.descriptionContainer span:nth-child(2) {
  font-size: small;
}

.itemsContainer {
  padding: 2rem;
}

.itemContainer {
  border-bottom: 5px solid green;
  padding: 1rem;
  padding-bottom: 2rem;
}
.itemContainer:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.itemHeaderContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.itemNumber {
  margin-left: 2rem;
  border-bottom: 5px solid gold;
  font-size: 1.5rem;
  font-weight: bold;
}

.radiosContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.radio {
  cursor: pointer;
}
.radio input {
  display: none;
}
.radio input + span {
  line-height: 22px;
  height: 22px;
  padding-left: 22px;
  display: block;
  position: relative;
}
.radio input + span:not(:empty) {
  padding-left: 30px;
}
.radio input + span:before,
.radio input + span:after {
  content: "";
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
}
.radio input + span:before {
  background-color: #d1d7e3;
  transition: background-color 0.2s ease,
    transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.radio input + span:after {
  background: #fff;
  transform: scale(0.78);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
.radio input:checked + span:before {
  transform: scale(1.04);
  background: black;
}
.radio input:checked + span:after {
  transform: scale(0.4);
  transition: transform 0.3s ease;
}
.radio:hover input + span:before {
  transform: scale(0.92);
}
.radio:hover input + span:after {
  transform: scale(0.74);
}
.radio:hover input:checked + span:after {
  transform: scale(0.4);
}

.itemImage {
}

.linksContainer {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

/* .prevLink {
  color: black;
  text-decoration: none;
  padding: 1rem 2rem;
  border: 5px solid skyblue;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 1rem;
}
.prevLink:hover {
  background-color: grey;
  color: white;
}
 */

.nextLink {
  color: black;
  text-decoration: none;
  padding: 1rem 2rem;
  border: 5px solid skyblue;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 10px;
}
.nextLink:hover {
  background-color: grey;
  color: white;
}
