.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.innerContainer {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.description {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(22, 95, 163);
}

.timeContainer {
  margin-bottom: 2rem;
}

.timeContainer span {
  display: block;
  margin-bottom: 0.5rem;
}
.timeItemsContainer {
  display: flex;
}

.timeItemContainer {
}
.timeItemContainer:nth-child(2) {
  margin: 0 1rem;
}
.timeItemContainer label {
  margin-left: 0.5rem;
}
.timeItemContainer input {
  width: 50px;
  outline: none;
  padding: 0.25rem 0.5rem;
  font-family: inherit;
}

.fieldContainer {
  margin-bottom: 2rem;
}

.fieldContainer label {
  display: block;
  margin: 0.5rem;
}
.fieldContainer input {
  padding: 0.25rem 0.5rem;
  font-family: inherit;
  outline: none;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}
.buttonContainer input {
  color: black;
  text-decoration: none;
  padding: 1rem 2rem;
  border: 5px solid skyblue;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 10px;
  font-family: inherit;
  outline: none;
}
.buttonContainer input:hover {
  background-color: grey;
  color: white;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}