* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: vazir;
}

body::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.3);
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: black;
  width: 8px;
  border-radius: 4px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: vazir;
  src: url("./fonts/Vazir-Medium.woff2");
}

.Toastify__toast-body {
  font-family: vazir;
  text-align: justify;
}
